
/*Introduction*/
#introduction {
    text-align: center;
}

#your-name {
    text-align: center;
}

#print-name {
    text-align: center;
    background: rgb(134, 134, 245);
}

/*Question styling*/
#question {
    text-align: center;
}

.question > h3 {
    background: rgb(134, 134, 245);
}

/* Alternate Question styling*/
#second-quiz-area {
    background: rgb(185, 185, 255);
}

#second-quiz-area > div {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}

#second-quiz-area > div > button {
    padding: 5%;
}

/*Footer*/
footer {
    position: fixed;
}