/*Basic styles*/
body {
    text-align: center;
}


/*Introduction*/
#introduction {
}

#your-name {}

#print-name {
    text-align: center;
    background: rgb(134, 134, 245);
}

/*Question styling*/

.question-button {
    font-size: 200%;
    width: 200px;
    padding: 2%;
    margin: 2%;
    background: rgb(148, 148, 255);
}

/*Footer*/
footer {
    position: fixed;
}